.ApplicationsList{
    min-width: 875px;

    thead tr th {
        background-color: #3361FF !important;
        color: white;
        font-weight: 600;
    }

    tr {
        text-align: left;
        
        th {
            font-weight: 100;
            padding: 8px;
        }
    }

    tr:nth-child(even) {
        background-color: #eee;
    }
    
    tr:nth-child(odd) {
        background-color: #fff;
    }
}