.Filter {
    height: 25px;
    width: 250px;
    margin: 15px 5px;
    background-color: #F7F8FA;
    border: 1px solid dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-indent: 5px;
}

.FilterLoading {
    margin: 15px 5px;
    color: dimgray;
}