.pagination {
  display: table-row;
}

@mixin cells() {
  display: table-cell;
  padding: 8px;
}

@mixin buttons() {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 7px 11px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 38px;

  &:hover {
    color: #3361FF;
  }
}

.legend {
  @include cells;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: dimgray;
}

.navigation {
  @include cells;
}

.button {
  @include buttons;
}

.currentPage {
  color: #3361FF;
}
  
.intermittentButton {
  @include buttons;
}

.previosButton {
  @include buttons;
}

.nextButton {
  @include buttons;
}